
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/.idea/
/node_modules/
/migrations/
/vendor/
###< symfony/framework-bundle ###
